## Importing the boyz

In [21]:
import numpy as np
import pandas as pd
import statistics as sta

## Averages

![image.png](attachment:image.png)

Source: https://en.wikipedia.org/wiki/Mode_(statistics)

In [45]:
#importing credit data for real testing
credit = pd.read_csv('https://raw.githubusercontent.com/kg93999/Capstone/master/cs-test.csv',
                     index_col = 0)
credit.head(5)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [49]:
#creating the averages class

class raw_avgs:
    
    #mode
    def mode(num_list):
        
        frequencies = [] #empty list to store frequencies
        unique_list = list(set(num_list)) #getting list of unique elemnts

        #getting list of frequency of occurrance of each element
        for element in unique_list:
            frequencies.append(num_list.count(element))

        test_dic = dict(zip(unique_list, frequencies)) #making a dictionary
        mode_list = [k for k,v in test_dic.items() if v == max(test_dic.values())] #getting max

        return mode_list

In [50]:
raw_avgs.mode(num_list = [2, 3, 4])

[2, 3, 4]

### Mode

Mode is the most frequent value in the data set.

In [20]:
#unit testing

test_1 = [2, 3, 4]
test_2 = [2, 3, 4, 4, 5, 6, 6, 7]
test_3 = [2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5]

answer_1 = [2, 3, 4]
answer_2 = [4, 6]
answer_3 = [3]

print("Unit test 1 pass: " + str(mode(test_1) == answer_1))
print("Unit test 2 pass: " + str(mode(test_2) == answer_2))
print("Unit test 3 pass: " + str(mode(test_3) == answer_3))

Unit test 1 pass: True
Unit test 2 pass: True
Unit test 3 pass: True

In [31]:
#real testing vs. established function
credit.head(5)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [53]:
print("Real data established function test: " +\
      str([sta.mode(credit.age)] == raw_avgs.mode(list(credit.age))))

Real data established function test: True

### Median

Median is the 'middle' in the data set. The median is found by ordering the list and selecting the number that has an equal number of numbers above it and below it in the ordered list. If there is an odd number of numbers, this middle number is the median.  If there is an even number of numbers add the two middles and divide by 2.  The result will be the median.

In [54]:
test_list = [1, 2, 3, 4, 5, 6, 7]

In [60]:
np.sort(test_list)

# get index len(test_list)/2 if odd number, divide middle two if even

array([1, 2, 3, 4, 5, 6, 7])