## Set-up

In [2]:
import numpy as np
import pandas as pd
import math as mt
import seaborn as sns

In [4]:
#importing credit data - from https://www.kaggle.com/sakshigoyal7/credit-card-customers/version/1
ccards = pd.read_csv('BankChurners.csv')
ccards.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

## Data Selection

In [5]:
#listing all columns
ccards.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [14]:
#looking at types
ccards.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [45]:
#want ints or floats
target_cols = list(ccards.columns[ccards.dtypes == 'int64']) + list(ccards.columns[ccards.dtypes == 'float64'])

In [49]:
#removing Basian bollocks
target_cols = target_cols[:-2]

In [50]:
ccards = ccards[target_cols]

In [51]:
ccards.head(5)

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Trans_Amt,Total_Trans_Ct,Credit_Limit,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,45,3,39,5,1,3,777,1144,42,12691.0,11914.0,1.335,1.625,0.061
1,818770008,49,5,44,6,1,2,864,1291,33,8256.0,7392.0,1.541,3.714,0.105
2,713982108,51,3,36,4,1,0,0,1887,20,3418.0,3418.0,2.594,2.333,0.000
3,769911858,40,4,34,3,4,1,2517,1171,20,3313.0,796.0,1.405,2.333,0.760
4,709106358,40,3,21,5,1,0,0,816,28,4716.0,4716.0,2.175,2.500,0.000

In [55]:
ccards.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Total_Trans_Amt,Total_Trans_Ct,Credit_Limit,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,1162.814061,4404.086304,64.858695,8631.953698,7469.139637,0.759941,0.712222,0.274894
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,814.987335,3397.129254,23.472570,9088.776650,9090.685324,0.219207,0.238086,0.275691
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,0.000000,510.000000,10.000000,1438.300000,3.000000,0.000000,0.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,359.000000,2155.500000,45.000000,2555.000000,1324.500000,0.631000,0.582000,0.023000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,1276.000000,3899.000000,67.000000,4549.000000,3474.000000,0.736000,0.702000,0.176000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,1784.000000,4741.000000,81.000000,11067.500000,9859.000000,0.859000,0.818000,0.503000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,2517.000000,18484.000000,139.000000,34516.000000,34516.000000,3.397000,3.714000,0.999000

In [57]:
#checking nulls
ccards.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Dependent_count             0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Total_Revolving_Bal         0
Total_Trans_Amt             0
Total_Trans_Ct              0
Credit_Limit                0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [65]:
ccards.corr()['Months_Inactive_12_mon']

CLIENTNUM                   0.005729
Customer_Age                0.054361
Dependent_count            -0.010768
Months_on_book              0.074164
Total_Relationship_Count   -0.003675
Months_Inactive_12_mon      1.000000
Contacts_Count_12_mon       0.029493
Total_Revolving_Bal        -0.042210
Total_Trans_Amt            -0.036982
Total_Trans_Ct             -0.042787
Credit_Limit               -0.020394
Avg_Open_To_Buy            -0.016605
Total_Amt_Chng_Q4_Q1       -0.032247
Total_Ct_Chng_Q4_Q1        -0.038989
Avg_Utilization_Ratio      -0.007503
Name: Months_Inactive_12_mon, dtype: float64

In [67]:
#this seems like an ok thing to try and predict
y = ccards['Months_Inactive_12_mon']

In [71]:
x = ccards.drop(['CLIENTNUM', 'Months_Inactive_12_mon'], axis = 1)

## Regression

Ok, let's try and predict the number of months inactive in the last 12 months. Doesn't look like it's going to be very successful but we try anyway.

The mathematics is very similar to the simple regression, only that now we have multiple coefficients (multiple betas). <br>
$y = \alpha + \beta_1 x_1 + \beta_2 x_2 + ... \beta_p x_p + + \epsilon$ <br> 
Where y is a vector of the months innactive in the last 12 months, $x_1$ is a vector of customer age, $x_2$ is a vector of ... and epsilon is the error term. Each observation of innactivity can be explained by some linear relationship with our explanatory variables plus an error. <br> <br>
We need to find the value of alpha and betas that minimises the sum of squared residuals (errors). We try and minimise the sum of these squared errors: <br>
$RSS = {\epsilon}^{2}_{1} + {\epsilon}^{2}_{2} + ... + {\epsilon}^{2}_{n}$ <br><br>
Again, this can be solved analytically (this time using linear algebra). To see how: http://mezeylab.cb.bscb.cornell.edu/labmembers/documents/supplement%205%20-%20multiple%20regression.pdf

### Regression classes

In [79]:
x.insert(0, 'For_Matrix', 1)

In [95]:
np.linalg(x.values.transpose().dot(x.values))

TypeError: 'module' object is not callable

In [96]:
#getting vector of beta hat coefficients that minimise RSS
np.linalg.inv(x.values.transpose().dot(x.values)).dot(x.values.transpose()).dot(y)

array([ 5.40701046e+00, -2.31592489e-01,  7.03761084e+00, -2.97140218e-01,
        4.46153533e-01,  1.13602159e+00, -1.19575045e-04,  1.94621179e-04,
       -3.14282086e-02, -2.58546527e-04,  2.00986718e-04, -7.81320669e-02,
       -9.53090388e-02,  1.16805545e-01])

In [97]:
#BREAK THIS UP AND ADD TO CLASS!!!

In [52]:
class simple_reg_coeffs:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.xbar = x.mean()
        self.ybar = y.mean()
        self.n = len(x)
    
    def x_minus_x_squared(self): # useful for lots of stuff later
        return sum((self.x - self.xbar)**2)
    
    def y_minus_y_squared(self): # useful for lots of stuff later
        return sum((self.y - self.ybar)**2)
    
    def xy_minus_xy_bar(self): # useful for lots of stuff later
        return sum((self.x - self.xbar)*(self.y - self.ybar))
        
    def beta_hat(self): # the value of beta that minimises the RSS
        return self.xy_minus_xy_bar() / self.x_minus_x_squared()
        
    def alpha_hat(self): # the value of alpha that minimises the RSS
        return self.ybar - self.beta_hat() * self.xbar

In [53]:
class simple_reg_stat_sig(simple_reg_coeffs):
    
    def __init__(self, x, y):
        super().__init__(x, y)
    
    def se_mew(self):
        return np.sqrt(self.y.var() / self.n)
    
    def se_alpha_hat(self):
        return np.sqrt(self.y.var() * (1/self.n + (self.xbar**2 / self.x_minus_x_squared())))
    
    def se_beta_hat(self):
        return np.sqrt(self.y.var() / self.x_minus_x_squared())

    def t_stat_alpha_hat(self):
        return self.alpha_hat() / self.se_alpha_hat()
    
    def t_stat_beta_hat(self):
        return self.beta_hat() / self.se_beta_hat()
    
    # note: we could also get the p-valu by using t-distribution tables, which I can't
    # be bothered to do. To see what this would look like, see the normal distribution
    # code in "some_distributions" in this repo.
    
    def summary_table(self):
        return pd.DataFrame(data = ([self.alpha_hat(), self.se_alpha_hat(), self.t_stat_alpha_hat()],
                            [self.beta_hat(), self.se_beta_hat(), self.t_stat_beta_hat()]),
                            index = ['alpha', 'beta'],
                            columns = ['coefficients', 'std. error', 't-stat'])

In [56]:
class simple_reg_performance(simple_reg_coeffs):
    
    def __init__(self, x, y):
        super().__init__(x, y)
        
    def rss(self):
        return sum((self.y - (self.alpha_hat() + self.beta_hat() * self.x)) ** 2)
    
    def tss(self):
        return self.y_minus_y_squared()
    
    def rse(self):
        return np.sqrt((1 / (self.n - 2)) * self.rss())
    
    def r_squared(self):
        return 1 - self.rss() / self.tss()

### Haydn's output

In [ ]:
x = linreg_df.age
y = linreg_df.MonthlyIncome

In [59]:
# getting inputs
test_reg = simple_reg_coeffs(x, y)

In [86]:
# sample size
test_reg.n

81400

In [82]:
# printing alpha_hat and beta_hat
print(f'Alpha = {test_reg.alpha_hat()}. This means that if age was 0 monthly income is predicted to be roughly $4000. Lol.')
print(f'Beta = {test_reg.beta_hat()}. This means that for every 1-year increase in age, monthly income increases by roughly $57.')

Beta = 56.99269817990974. This means that for every 1-year increase in age, monthly income increases by roughly $57.
Alpha = 3928.6166729296215. This means that if age was 0 monthly income is predicted to be roughly $4000. Lol.

In [87]:
# getting statistical significance summary table
simple_reg_stat_sig(x, y).summary_table()

       coefficients  std. error    t-stat
alpha   3928.616673  473.822124  8.291332
beta      56.992698    8.884913  6.414548

In [88]:
# getting performance measures
reg_perf = simple_reg_performance(x, y)

In [91]:
print(f'RSE = {reg_perf.rse()}')
print(f'R-Squared = {reg_perf.r_squared()}')

RSE = 36499.59603505763
R-Squared = 0.0005054905143986321

### sklearn's output

In [93]:
from sklearn.linear_model import LinearRegression

In [99]:
# reshaping

x = np.array(x).reshape(-1,1)
y = np.array(y).reshape(-1,1)

In [100]:
model = LinearRegression()

In [101]:
model.fit(x, y)

LinearRegression()

In [106]:
# checking intercept and coefficient matches

print(f'Alpha = {model.intercept_[0]}, Beta = {model.coef_[0][0]}')

Alpha = 3928.616672929455, Beta = 56.99269817991298

In [109]:
# looks like that's the same...how about r-squared?

model.score(x, y)

0.0005054905145716049